<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Furka4U</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <section layout:fragment="content">
        <div id="offerFilter" class="panel panel-default">
            <div class="panel-heading">Szukaj ofert</div>
            <div class="panel-body">
                <form th:object="${offerFilter}" id="offerFilterForm" action="/" method="get" class="form-inline">
                    <select th:field="*{manufacturerId}" class="form-control">
                        <option value="">Marka</option>
                        <option th:each="manufacturer : ${carManufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                    </select>
                    <select th:field="*{modelId}" class="form-control">
                        <option value="">Model</option>
                        <option th:each="model : ${carModels}" th:value="${model.id}" th:text="${model.name}"></option>
                    </select>
                    <select th:field="*{fuelId}" class="form-control">
                        <option value="">Rodzaj paliwa</option>
                        <option th:each="fuel : ${fuelTypes}" th:value="${fuel.id}" th:text="${fuel.name}"></option>
                    </select>
                   
                    <input th:field="*{yearMin}" type="text" class="form-control" placeholder="rok od"/>
                    <input th:field="*{yearMax}" type="text" class="form-control" placeholder="rok do"/>
                    
                    <input th:field="*{description}" type="text" class="form-control" placeholder="szukaj po opisie"/>
                    <select th:field="*{sort}" class="form-control">
                        <option value="id">Sortowanie</option>
                        <option value="price">cena</option>
                        <option value="year">rok produkcji</option>
                        <option value="date">data dodania</option>
                    </select>
                    <select th:field="*{sort2}" class="form-control">
                        <option value="ASC">Rosnąco</option>
                        <option value="DESC">Malejąco</option>

                    </select>
                    
                    <input type="submit" value="Filtruj" class="form-control"/>
                    
                </form>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Tytuł</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Rocznik</th>
                <th>Cena</th>
                <th></th>
            </tr>
            <tr th:each="offer : ${offers}">
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.model.manufacturer.name}"></td>
                <td th:text="${offer.model.name}"></td>
                <td th:text="${offer.year}"></td>
                <td class="text-right">
                    <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>zł
                </td>
                <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
            </tr>
        </table>

    </section>
</body>
</html>